
//fonts

$font-stack-primary: NunitoSans, Lato, serif;



//colors

$color-light-red: #fa5e5b;
$color-white: #ffffff;
$color-light-gold: #d9cb94;
$color-dark-blue: #213151;
$color-alt-black: #212121;