.top-section {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  max-width: 100%;

  &::before {
    background-image: url('../images/patryk-sobczak-162368-unsplash.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: brightness(50%) contrast(90%);
    width: 100%;
  }

  .navbar {
    display: flex;
    border-bottom: 1px solid rgba(216, 216, 216, 0.4);
    flex-direction: row;

    .navbar-heading {
      font-family: $font-stack-primary;
      font-size: 50px;
      font-weight: 800;
      order: 1;
      margin-left: 13%;
    }

    .navbar-items {
      order: 2;
      margin-right: 10%;

      .navbar-item {
        font-size: 14px;
        letter-spacing: 1.2px;

        .nav-link,
        .nav-link:hover {
          color: inherit;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    .navbar-item,
    .navbar-heading {
      font-family: Lato, Verdana, Serif, sans-serif;
      font-weight: bold;
      text-align: center;
      color: $color-white;
    }

    @include media-breakpoint-down(sm) {

      text-align: center;

      .navbar-heading {
        font-size: 35px;
        display: block;
        width: 100%;
        margin: 0 auto 5% auto;
      }

      .navbar-items {
        margin: 0 auto;

        .list-inline {
          flex-direction: column;
          display: flex;
          align-items: center;

          .navbar-item {
            margin: 5% 0;
          }
        }
      }
    }

    @include media-breakpoint-between(md, lg) {

      .navbar-heading {
        margin: 0 auto;
      }

      .navbar-items {
        margin: 5% auto 2% auto;
      }
    }
  }

  .home-section-heading {
    margin-top: 155px;
    font-family: NunitoSans, Verdana, serif;
    font-size: 80px;

    p:first-child {
      color: $color-white;
      font-weight: 800;
    }

    p:nth-child(2) {
      color: $color-light-red;
      font-weight: 800;
    }

    .cta-booking {
      font-family: $font-stack-primary;
      font-size: 25px;
      font-weight: 900;
      letter-spacing: 5.4px;

      .booking-button {
        letter-spacing: 0.4px;
        font-family: Poppins, $font-stack-primary;
        font-size: 20px;
        background-color: $color-light-red;
        border: 1px solid $color-light-red;
        padding: 0.7em 2.8em;
        border-radius: 5px;
      }

      &, .booking-button {
        color: $color-white;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .home-section-heading {
      margin-top: 20%;
      padding-bottom: 18%;

      p {
        font-size: 45px;
      }

      .cta-booking {
        margin-top: 18%;

        span {
          font-size: 15px;
        }

        .booking-button {
          font-size: 15px;
          padding: 0.4em 1.8em;
        }
      }
    }
  }
}